/* Reseteo para evitar bordes blancos en los costados */
body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, sans-serif;
    background-color: #0B0F19;
    /* Fondo de seguridad */
}

/* El contenedor que envuelve a toda la aplicación */
.app-root {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* --- VARIABLES MODO OSCURO --- */
.app-root.dark {
    --bg-main: #121212;
    --bg-panel: #1E1E1E;
    --bg-input: #1E1E1E;
    --bg-hover: #2E2E2E;
    --text-primary: #E2E8F0;
    --text-secondary: #bdcfe8;
    --border-color: #2E2E2E;

    --accent-color: #929292;
    --accent-hover: #383838;
    --success: #34D399;
    --danger: #F87171;
    --warning: #FBBF24;

    /* Aplica el color al contenedor inmediatamente */
    background-color: var(--bg-main);
    color: var(--text-primary);
}

/* --- VARIABLES MODO CLARO --- */
.app-root.light {
    --bg-main: #f8fafc;
    --bg-panel: #ffffff;
    --bg-input: #f1f5f9;
    --bg-hover: #e2e8f0;
    --text-primary: #0f172a;
    --text-secondary: #64748b;
    --border-color: #cbd5e1;

    --accent-color: #2563eb;
    --accent-hover: #1d4ed8;
    --success: #10b981;
    --danger: #ef4444;
    --warning: #f59e0b;

    /* Aplica el color al contenedor inmediatamente */
    background-color: var(--bg-main);
    color: var(--text-primary);
}

/* Animación global de entrada */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}